body {
  margin-top: 10px;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

nav {
  margin: 0 auto;
  padding: 3px 10px;
  width: 800px;
  height: 20px;
  background-color: #FF6600;
  border-top: 6px #000 solid;
}

#nav-title {
  float: left;
}
